[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
req_extensions     = req_ext
distinguished_name = dn

[ dn ]
C  = US
ST = State
L  = City
O  = MyOrg
CN = myapp.local

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = replica-set-tls-0.replica-set-tls-svc.mongodb-operator.svc.cluster.local
DNS.2 = replica-set-tls-1.replica-set-tls-svc.mongodb-operator.svc.cluster.local
DNS.3 = replica-set-tls-2.replica-set-tls-svc.mongodb-operator.svc.cluster.local
DNS.4 = replica-set-tls-0-repl.mongokube.com
DNS.5 = replica-set-tls-1-repl.mongokube.com
DNS.6 = replica-set-tls-2-repl.mongokube.com